*{
    /*outline: solid 1px greenyellow;*/
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.rigth{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.top{
    width: 100%;
    height: 200px;
    text-align: center;
    
}

.txt3{
    color:#9a97a9 ;
    margin-top: -20px;
    font-size: 30px;
}

.txt2{
    font-size: 30px;
    margin-top: -65px;
    color: #a19eaa;
}

.txt1{
    font-size: 70px;
    color: #302c52;
}

.txt{
    margin-top: -2px;
    font-size: 40px;
    color: #302c52;
}

.down{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding: 10px;
}

.imagenes{
    width: 320px;
    height: 300px;
}

.left{
    height: 700px;
    width: 15%;
    padding: 10px;
}

.arriba{
    width: 100%;
    height: 140px;
    padding: 10px;
}

.medio{
    width: 100%;
    height: 310px;
    padding: 10px;

}

.abajo{

    padding: 10px;
    height: 140px;
    width: 100%;
}

.tit{
    color: #332e54;
    font-size: 37px;
    font-weight: 200;
}

.desc{
    color: #8f8ca2;
    font-size: 20px;
}

.desc1{
    color: #8f8ca2;
    font-size: 22px;
}

.desc2{
    color: #8f8ca2;
    font-size: 20px;
}