*{
    /*outline: solid 1px greenyellow;*/
    font-family: Arial, Helvetica, sans-serif; /* cambia el tipo de caligrafia de la letra  */
}


.container{
    width: 100%;
    height: 100%;
    display: flex;
}
.rigth{
    height: 100%;  /* ajustar el tamaño predeterminado de la pagina donde iran todas las particiones echas en el index*/
    width: 1550px;
    display: flex;
    flex-flow: column;/* ordena toda la informacion en columnas  */
}

.top{
    width: 100%;
    height: 200px;
    text-align: center; /* ordena el texto puesto en el centro de esta seccion  */
}

.txt3{
    color:#9a97a9 ;
    margin-top: -20px; /* añade un margen en la parte superior de la seccion u texto */
    font-size: 25px; /* ajusta el tamaño de el texto puesto */
}

.txt2{
    font-size: 30px;
    margin-top: -65px;
    color: #a19eaa; /* ajusta el color de el texto  */
}

.txt1{
    font-size: 70px;
    color: #302c52;
}

.txt{
    margin-top: -2px;
    font-size: 40px;
    color: #302c52;
}

.down{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between; /* la informacion estara ordenada con un espacio entre cada una  */
    margin-top: 125px;
    padding: 20px;
}

.imagenes{
    width: 100%;
    height: 300px;
}

.left{
    height: 700px;
    width: 15%;
    padding: 10px;
}

.arriba{
    width: 100%;
    height: 140px;
    padding: 10px;
}

.medio{
    width: 100%;
    height: 310px;
    padding: 10px; /* añade un espacio interior respectivo a la seccion ya puesta  */

}

.abajo{

    padding: 10px;
    height: 140px;
    width: 100%;
}

.tit{
    color: #332e54;/* ajusta el color de el texto  */
    font-size: 37px;
    font-weight: 200;
}

.desc{
    color: #8f8ca2;
    font-size: 20px;
}

.desc1{
    color: #8f8ca2;
    font-size: 22px;
}

.desc2{
    color: #8f8ca2;
    font-size: 20px;
}