*{
    padding: 0;
    margin: 0;
    outline: solid 1px black;
}



.container{
    padding: 50px;
}

.conexiones{
    width: 500px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row img{
    height: 30px;
}