*{
    margin: 5px;
    cursor: pointer;
}



.buscar{
    padding: 5px 10px; /* 10px de espacio arriba y abajo, 20px a los lados */
    width: 130px; /* Ancho fijo de 120 píxeles */
    border-radius: 20px; /* Bordes redondeados de 20 píxeles */
    border: 2px solid #20a1a3; /* Borde de 2 píxeles, línea sólida, color azul verdoso */
    background-color:#f5f5f5 ;
    color: #20a1a3;
    }


.mas{
    width: 30px; 
    height: 30px; 
    border-radius: 50%; 
    color: white;  
    background-color: #00d1b2;
    border: 2px solid #00d1b2
}

.create{
    background-color: #007BFF; 
    color: white; 
    padding: 6px 10px; 
    box-shadow:  6px 6px 0px rgb(0, 0, 0); 
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 200px;
}